// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --ion-color-primary: #4e8ef7;
    --ion-color-primary-rgb: 78, 142, 247;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3f7ae9;
    --ion-color-primary-shade-rgb: 63, 122, 233;
    --ion-color-primary-tint: #5c94f2;
    --ion-color-primary-tint-rgb: 92, 148, 242;
    --ion-color-secondary: #7e57c2;
    --ion-color-secondary-rgb: 126, 87, 194;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #5f3b8f;
    --ion-color-secondary-shade-rgb: 95, 59, 143;
    --ion-color-secondary-tint: #7f5af0;
    --ion-color-secondary-tint-rgb: 127, 90, 240;
    --ion-color-tertiary: #f7dc6f;
    --ion-color-tertiary-rgb: 247, 220, 111;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255,
    --ion-color-tertiary-shade: #d7b854;
    --ion-color-tertiary-shade-rgb: 215, 184, ;
    --ion-color-tertiary-tint: #f2c464;
    --ion-color-tertiary-tint-rgb: 242, 196, ;
    --ion-color-danger: #f53d3d;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e33131;
    --ion-color-danger-shade-rgb: 227, 49, 49;
    --ion-color-danger-tint: #f85a5a;
    --ion-color-danger-tint-rgb: 248, 90, 90;
    --ion-color-warning: #ffc107;
    --ion-color-warning-rgb: 255, 193, 7;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #ff9900;
    --ion-color-warning-shade-rgb: 255, 153, 0;
    --ion-color-warning-tint: #ffd700;
    --ion-color-warning-tint-rgb: 255, 215, 0;
    

}